<h3>Lazy MQTT WebSocket Test</h3>
Lazy Engineers free MQTT broker is now live. Use the settings below to connect to it. Remember it is still in beta. More features will be added in the future, follow the development on <a href="https://hackaday.io/project/15238-lazy-mqtt-broker-and-client" target="_blank">Hackaday</a>.
<strong>Host:</strong> mqtt.lazyengineers.com
<strong>Websocket Port:</strong> 10452
<strong>TCP Port:</strong> 1883
<strong>Username:</strong> lazyengineers
<strong>Password:</strong> lazyengineers
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}.tg td{font-family:Arial,sans-serif;font-size:14px;font-weight: bold;padding:0px;overflow:hidden;word-break:normal;}.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:0px;overflow:hidden;word-break:normal;}.tg .tg-yw4l{vertical-align:middle}
   SPAN.item
   {
     display:inline-block;
     padding:3px;
     margin:2px;
     background:#F2F2F2;
   }
   SPAN.item I
   {  
     float: right;
     font-style: normal;
     margin-left: 4;
     cursor: pointer;
     font-size: smaller;
     background: #d5d5d5;
     padding: 0 4;
     border-radius: 10px;
   }
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 100%;"><colgroup> <col style="width: 50%;" /> <col style="width: 25%;" /> <col style="width: 25%;" /> </colgroup>
<tbody>
<tr>
<th class="tg-yw4l" colspan="3">Connection</th>
</tr>
<tr>
<td class="tg-yw4l" style="text-align: left; padding: 0px;" colspan="2">Host</td>
<td class="tg-yw4l" style="text-align: left; padding: 0px;">Port</td>
</tr>
<tr>
<td class="tg-yw4l" style="padding: 0px;" colspan="2"><input style="display: table-cell; width: 95%;" name="cnxHost" type="text" /></td>
<td class="tg-yw4l" style="padding: 0px;"><input style="display: table-cell; width: 95%;" name="cnxPort" type="text" /></td>
</tr>
<tr>
<td class="tg-yw4l" style="text-align: left; padding: 0px;">Username</td>
<td class="tg-yw4l" style="text-align: left; padding: 0px;" colspan="2">Password</td>
</tr>
<tr>
<td class="tg-yw4l" style="padding: 0px;"><input style="display: table-cell; width: 95%;" name="cnxUser" type="text" /></td>
<td class="tg-yw4l" style="padding: 0px;" colspan="2"><input style="display: table-cell; width: 95%;" name="cnxPass" type="password" /></td>
</tr>
<tr>
<td class="tg-yw4l" style="text-align: left; padding: 0px;" colspan="2">Client ID</td>
<td class="tg-yw4l"></td>
</tr>
<tr>
<td class="tg-yw4l" style="padding: 0px;"><input style="display: table-cell; width: 95%;" name="cnxClientId" type="text" /></td>
<td class="tg-yw4l" style="padding: 0px;"><button style="display: table-cell; width: 95%; border: 0; background-color: #dd9933; box-shadow: none; color: rgba(255,255,255,.8); border-radius: 0px;" name="lazyIt" type="button" onclick="pahoLazy()">Lazy It</button></td>
<td class="tg-yw4l" style="padding: 0px;"><button style="display: table-cell; width: 95%; border: 0; background-color: #dd9933; box-shadow: none; color: rgba(255,255,255,.8); border-radius: 0px;" name="cnxCnct" type="button" onclick="pahoConnect()">Connect</button></td>
</tr>
<tr>
<td class="tg-yw4l" style="text-align: left; padding: 0px;">More</td>
<td class="tg-yw4l"></td>
<td class="tg-yw4l"></td>
</tr>
</tbody>
</table>
<table class="tg" style="undefined;table-layout: fixed; width: 100%;"><colgroup> <col style="width: 70%;" /> <col style="width: 15%;" /> <col style="width: 15%;" /> </colgroup>
<tbody>
<tr>
<th class="tg-yw4l" colspan="3">Publish</th>
</tr>
<tr>
<td class="tg-yw4l" style="text-align: left; padding: 0px;">Topic</td>
<td class="tg-yw4l" style="text-align: left; padding: 0px;">QOS</td>
<td class="tg-yw4l" style="text-align: center; padding: 0px;">Retain</td>
</tr>
<tr>
<td class="tg-yw4l" style="padding: 0px;"><input style="display: table-cell; width: 95%;" name="pubTopic" type="text" /></td>
<td class="tg-yw4l" style="padding: 0px;"><select style="display: table-cell; width: 95%;" name="pubQos">
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
</select></td>
<td class="tg-yw4l" style="padding: 0px;"><input style="display: table-cell; width: 95%;" name="pubRetain" type="checkbox" /></td>
</tr>
<tr>
<td class="tg-yw4l" style="text-align: left; padding: 0px;" colspan="3">Message</td>
</tr>
<tr>
<td class="tg-yw4l" style="padding: 0px;" colspan="3"><textarea cols="100%" name="pubMessage" rows="4"></textarea></td>
</tr>
<tr>
<td class="tg-yw4l"></td>
<td class="tg-yw4l" style="padding: 0px;" colspan="2"><button style="display: table-cell; width: 95%; border: 0; background-color: #dd9933; box-shadow: none; color: rgba(255,255,255,.8); border-radius: 0px;" name="pubBtn" type="button" onclick="pahoPublish()">Publish</button></td>
</tr>
</tbody>
</table>
<table class="tg" style="undefined;table-layout: fixed; width: 100%;"><colgroup> <col style="width: 70%;" /> <col style="width: 15%;" /> <col style="width: 15%;" /> </colgroup>
<tbody>
<tr>
<th class="tg-yw4l" colspan="3">Subscribe</th>
</tr>
<tr>
<td class="tg-yw4l" style="text-align: left; padding: 0px;">Topic</td>
<td class="tg-yw4l" style="text-align: left; padding: 0px;">QOS</td>
<td class="tg-yw4l" style="text-align: center; padding: 0px;">Color</td>
</tr>
<tr>
<td class="tg-yw4l" style="padding: 0px;"><input id="textInp" value="" style="display: table-cell; width: 95%;" name="subTopic" type="text" />(Separate values with comma)</td>
<td class="tg-yw4l" style="padding: 0px;"><select style="display: table-cell; width: 95%;" name="subQos">
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
</select>
</td>
<td class="tg-yw4l" style="padding: 0px;"><input name="subColor" type="color" /></td>
</tr>
<tr>
<td class="tg-yw4l" style="text-align: left; padding: 0px;" colspan="3">Subscriptions</td>
</tr>
<tr>
<td class="tg-yw4l" style="padding: 0px;" colspan="3"></td>
</tr>
<tr>
<td class="tg-yw4l"> 
   <div id="divHTML" style="display:none;"><span class="item"><i onclick="this.parentNode.parentNode.removeChild(this.parentNode);rmItem({val:this.nextSibling.innerHTML})">&#10006;</i><label>TEXT</label></span></div>
   <div id="divList"></div></td>
<td class="tg-yw4l" style="padding: 0px;" colspan="2"><button style="display: table-cell; width: 95%; border: 0; background-color: #dd9933; box-shadow: none; color: rgba(255,255,255,.8); border-radius: 0px;" name="subBtn" type="button" onclick="addItem()">Subscribe</button></td>
</tr>
</tbody>
</table>
<table class="tg" style="undefined;table-layout: fixed; width: 100%;"><colgroup> <col style="width: 70%;" /> <col style="width: 15%;" /> <col style="width: 15%;" /> </colgroup>
<tbody>
<tr>
<th class="tg-yw4l" colspan="3">Console</th>
</tr>
<tr>
<td class="tg-yw4l" style="padding: 0px;" colspan="3"><textarea cols="100%" name="consoleTxt" readonly="readonly" rows="15"></textarea></td>
</tr>
</tbody>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
<script src="http://lazyengineers.com/mqttclient.js" type="text/javascript"></script>
